<div  ng-init="model={}; form={};model.frm={}">


    <!-- Model Openers -->

     <button type="button" style="display:none" id="ErrorOpener" data-dismiss="modal" data-toggle="modal" data-target="#ModalError">
            mdl
     </button>

     <button type="button" style="display:none" id="LoadingOpener" data-toggle="modal" data-target="#ModalLoading">
            Loading
     </button>

     <!-- End Model Openrs -->

    <div class="row white-bg padding10top padding10bottom ">


        <div class="col-lg-6">

          <form role="form" name="searchHub">

              <div class="row">  

                <div class="col-lg-6">

                        <input type="text" class="form-control" ng-model="searchHub.Name.company_hub_name" placeholder="Search Hub">

                    

                </div>

                <div class="col-lg-6">
         
         
                        <Select class="form-control" ng-change="filterHubs()"  
                        ng-model="model.frm.searchCompanies">

                                <option value="0">-- Select Company --</option>

                                <option ng-repeat="company in Companies" value="{{company.id}}">{{company.company_hub_name}}</option>
                            
                        </Select>

         
                </div>

              

              </div>

          </form>
        
        </div>

        <div class="col-lg-6">

            <button type="button"  class="btn btn-primary  btn-block " ng-click="crud.new()"  > <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create New Hub</button>

        </div>

    </div>


    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="row"> <!-- Loop Hubs -->

            <div class="col-lg-3" ng-repeat="Company in hubs | filter:{company_hub_name:searchHub.Name,parent_id:'!0'}" ng-click="openCompanyDetails(Company.id)">

                <div class="ibox">

                    <button class="close m-sm" type="button" ng-click="crud.delete(Company.id,$event)"><i class="fa fa-times"></i></button>

                    <div class="ibox-title">

                        <div class="media">

                            <a href="#" class="media-left pull-left"><img src="AppImage/udslogo.png" class="media-object img-circle img-thumbnail "  style="height:37px" ></a>

                            <div class="media-body "><h2>{{Company.company_hub_name}}</h2></div>


                        </div>


 
                    </div>

                    <div class="ibox-content">
                    
                        <h3>{{Company.contact_person_name}}</h3>

                        <div class="media">

                            <div class="media-left media-middle pull-left">

                                <i class="media-object  fa fa-phone-square"></i>

                            </div>


                            <div class="media-body ">{{Company.contact_person_phone}}</div>

                        </div>

                        <div class="media">

                            <div class="media-left media-middle pull-left">

                                <i class="media-object  fa fa-envelope-o"></i>

                            </div>

                            <div class="media-body "><a href="{{Company.email}}">{{Company.email}}</a></div>

                        </div>

                    </div>

                    <div class="ibox-footer">
  

                        <div class="btn-group btn-group-justified">
                            
                            <a href="#" ng-click="OpenHub(Company.id,$event)" class="btn btn-primary active"  data-toggle="modal" data-target="#Modal{{Company.id}}">( {{GetHubsCont(Company.id)}} ) Hubs  <i class="fa fa-arrow-circle-right"></i></a>
                            <a href="#" class="btn btn-primary active"  data-toggle="modal" data-target="#Modal{{Company.Id}}">( {{GetHubsCont(Company.id)}} ) Emp <i class="fa fa-arrow-circle-right"></i></a>
  
                        </div>
 


                    </div>


                </div>

            </div>


        </div>

        
                      

        <!-- Modal for Create  -->

        <script type="text/ng-template" id="form.html">
 
                <div class="modal-content">

                    <div class="modal-header">
                        

                         <h3 class="modal-title"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;{{title}}</h3>

                    </div>
                    <div class="modal-body">

                            <form role="form" name="form.createHubForm" >

                                        <div class="alert alert-danger" style="display:{{ErrorDisplay}}">
 
                                             <strong class="animated glyphicon glyphicon-ban-circle"></strong> {{Error}} 

                                                 
                                        </div>

                                        <div class="animated alert alert-info" style="display:{{LoadingDisplay}}">
 
                                                {{LoadingMsg}}

                                                 
                                        </div>

                                        <div style="display:{{formStatus}}">

                                            <div class="row">

                                                <div class="col-lg-6"><div class="form-group"><label>Hub Name</label> <input type="text" class="form-control" ng-model="model.frmHubName" required></div></div>

                                                <div class="col-lg-6"><div class="form-group"><label>Address</label><input type="text" class="form-control" ng-model="model.frmHubAddress" required></div></div>

                                            </div>
                                            <div class="row">

                                                <div class="col-lg-6"><div class="form-group"><label>Phone No</label><input type="text" class="form-control" ng-model="model.frmHubPhoneNo" required></div></div>

                                                <div class="col-lg-6"><div class="form-group"><label>Email</label><input type="email" class="form-control" ng-model="model.frmHubEmail" required></div></div>

                                            </div>
                                            <div class="row">
                                            
                                                <div class="col-lg-6"><div class="form-group"><label>Contact Person Name</label><input type="text" class="form-control" ng-model="model.frmHubContactPersonName" required></div></div>

                                                <div class="col-lg-6"><div class="form-group"><label>Contact Person Phone</label><input type="text" class="form-control" ng-model="model.frmHubContactPersonPhone" required></div></div>

                                            </div>
                                            <div class="row">
                                            
                                                <div class="col-lg-6"><div class="form-group"><label>City</label><input type="text" class="form-control" ng-model="model.frmHubCity" required></div></div>

                                                <div class="col-lg-6"><div class="form-group"><label>Pincode</label><input type="text" class="form-control" ng-model="model.frmHubPinCode" required></div></div>

                                            </div>
                                            <div class="row">

                                                <div class="col-lg-6"><div class="form-group"><label>State</label>
                                                <select class="form-control" ng-model="model.frmHubState" required>
                                                <option value="">Select State</option>
                                                <option ng-repeat="state in states" value="{{state.StateName}}">{{state.StateName}}</option>
                                                </select></div></div>

                                                <div class="col-lg-6"><div class="form-group"><label>Company</label>
                                                <select ng-disabled="companyDiabled" class="form-control" ng-model="model.frmHubCompany" required>
                                                <option value="0">Select Company</option>
                                                <option  ng-repeat="company in Companies" value="{{company.id}}">{{company.company_hub_name}}</option>
                                                </select></div></div>

                                            </div>

                                            <div class="row">

                                                <div class="col-lg-6"><div class="form-group"><label>Status</label>
                                                <select class="form-control" ng-model="model.frmHubStatus" required>
                                                <option value="">Select Status</option>
                                                <option   value="0">Active</option>
                                                <option   value="1">Disabled</option>
                                                </select></div></div>

                                            </div>

 
                                        </div>

                                    </form>

                                    <div class="btn-group btn-group-justified">

                                        <div class="btn-group">
                                            <button type="button" ng-click="save()" class="btn btn-primary" >Save</button>
                                        </div>
                                        <div class="btn-group">
                                            <button type="button" id="closeCompanyModel" class="btn btn-secondary " ng-click="close()">Close</button>
                                        </div>

                                    </div>

                    </div>
 

                </div>
             
        </script>

        <!-- End Modal -->

        <!-- Confirm Boxes -->

        <script type="text/ng-template" id="alert.html">
            
            <div class="modal-header">
                <h3 class="modal-title">Confirm</h3>
            </div>

            <div class="modal-body">
                    {{msg}} 
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
                <button class="btn btn-warning" type="button" ng-click="close()">Cancel</button>
            </div>

        </script>

        <!-- End COnfirm Boxes -->


    </div>

</div>