<div class="middle-box middle-boxTop text-center   animated fadeInDown " >

    <div>

        <div style="background: #fff">

          <img src="http://localhost:8000/webapp/AppImage/theme_logo.png">

        </div>

        <p class="m-t">Sign int to portal</p>

        <div class="loginscreen">

            <form class="m-t" role="form" ng-submit="Login()" ng-controller="authenticationController">

                <div class="form-group text-left">

                    <label >Username</label>

                    <input type="text" class="form-control" placeholder="Username" required=""
                           ng-model="Username">

                </div>

                <div class="form-group text-left">

                    <label >Password</label>

                    <input type="password" class="form-control" placeholder="Password" required=""
                           ng-model="Password">

                </div>

                <button type="submit" class="btn btn-primary block full-width m-b" >Login</button>

                <a ui-sref="forgot_password" class=""><small>Forgot password?</small></a>

            </form>

            <p class="m-t "> <small> &copy; 2014</small> </p>

        </div>


		
    </div>

</div>