<div ng-controller="ManageOrders">

    <div style="display:{{orderDisplay}}">

        <div class="row white-bg padding10top padding10bottom">

            <form role="form" name="searchHub" >

                <div class="col">

                    <div class="col col-lg-4">

                        <input type="text" class="form-control" ng-model="searchOrder.OrderId" placeholder="Order Id">

                    </div>

                    <div class="col col-lg-3">

                        <input type="text" class="form-control" ng-model="searchOrder.OrderStatus" placeholder="Order Status">

                    </div>

                    <div class="col col-lg-3">

                        <input type="text" class="form-control" ng-model="searchOrder.OrderAssignedToIHub" placeholder="Assigned">

                    </div>

                    <div class="col col-lg-2">

                        <input type="text" class="form-control" ng-model="searchOrder.OrderedOn" placeholder="Orded On">

                    </div>

                </div>

            </form>

        </div>

        <div class="wrapper wrapper-content animated fadeInRight">


            <div class="ibox float-e-margins">

                <div class="ibox-content">

                    <div class="table-responsive">

                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Order Id</th>
                                <th>Net Amount</th>
                                <th>Order Status</th>
                                <th>Assigned To</th>
                                <th>Ordered On</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="Order in Orders | filter : searchOrder" ng-click="openServiceDetails(Order.OrderId)" >
                                <td>{{Order.OrderId}}</td>
                                <td>{{Order.NetAmount}}</td>
                                <td>{{Order.OrderStatus}}</td>
                                <td>{{Order.OrderAssignedToIHub}}</td>
                                <td>{{Order.OrderedOn}}</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>

                </div>

            </div>


        </div>

    </div>

    <div style="display:{{serviceDisplay}}">

        <div class="row white-bg padding10top padding10bottom">

            <form role="form" name="searchHub" >

                <div class="col">

                    <div class="col col-lg-3">

                        <input type="text" class="form-control" ng-model="searchService.OrderId" placeholder="Order Id">

                    </div>

                    <div class="col col-lg-3">

                        <input type="text" class="form-control" ng-model="searchService.ServiceId" placeholder="Service Id">

                    </div>

                    <div class="col col-lg-2">

                        <input type="text" class="form-control" ng-model="searchService.ServiceName" placeholder="Service Name">

                    </div>

                    <div class="col col-lg-2">

                        <input type="text" class="form-control" ng-model="searchService.City" placeholder="City">

                    </div>

                    <div class="col col-lg-1">

                        <input type="text" class="form-control" ng-model="searchService.ServiceDate" placeholder="Service Date">

                    </div>

                    <div class="col col-lg-1">

                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="BacktoOrders()">Back</button>

                    </div>

                </div>

            </form>

        </div>

        <div class="wrapper wrapper-content animated fadeInRight">


            <div class="ibox float-e-margins">

                <div class="ibox-content">

                    <div class="table-responsive">

                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Service Id</th>
                                <th>Order Id</th>
                                <th>Service Name</th>
                                <th>Service Date</th>
                                <th>City</th>
                                <th>Phone</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="Order in CurrentOrder | filter : searchService" ng-click="openServiceLineItemDetails($index)" >
                                <td>{{Order.ServiceId}}</td>
                                <td>{{Order.OrderId}}</td>
                                <td>{{Order.ServiceName}}</td>
                                <td>{{Order.ServiceDate}}</td>
                                <td>{{Order.City}}</td>
                                <td>{{Order.PhoneNo}}</td>
                                <td>{{Order.Status}}</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>

                </div>

            </div>


        </div>

        <!-- Modal -->
        <button type="button" class="btn btn-primary  btn-block " id="serviceDetailsOpener" data-toggle="modal" data-target="#ModalServiceDetails" style="display:none"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create New</button>

        <div class="modal fade" id="ModalServiceDetails" tabindex="-1" role="dialog" aria-labelledby="Modal1Label" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                        <div class="modal-title"><h3>Service Details - {{CurrentService.ServiceName}} [ {{CurrentService.ServiceId}} ]</h3></div>

                    </div>
                    <div class="modal-body">

                        <div class="padding10bottom">


                            <div class="row">

                                <div class="col col-lg-6"><label>Phone</label></div>
                                <div class="col col-lg-6">{{CurrentService.PhoneNo}}</div>

                            </div>

                            <div class="row">


                                <div class="col col-lg-6"><label>Date</label></div>
                                <div class="col col-lg-6">{{CurrentService.ServiceDate}}</div>

                            </div>

                            <div class="row">

                                <div class="col col-lg-6"><label>Time Slot</label></div>
                                <div class="col col-lg-6">{{CurrentService.TimeSlot}}</div>


                            </div>

                            <div class="row">

                                <div class="col col-lg-6"><label>Address</label></div>
                                <div class="col col-lg-6">{{CurrentService.Address1}},<br>{{CurrentService.Address2}},<br>{{CurrentService.City}} - {{CurrentService.Pincode}}</div>

                            </div>

                        </div>


                        <h4>Service Details</h4>

                        <div class="table-responsive">

                            <table class="table table-striped">

                                <tr ng-repeat="LineI in CurrentServiceLineItems">
                                    <td>{{LineI.LineItem}}</td>
                                    <td>{{LineI.LineItemQty}}</td>
                                </tr>

                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>


</div>