<div  ng-init="model={}; form={};model.frm={}">

  <div class="row white-bg padding10top padding10bottom ">

 
        <div class="col-lg-12">

            <button type="button"  class="btn btn-primary  btn-block " ng-click="crud.new()"  > <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create New Unit</button>

        </div>

    </div>


    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="row"> <!-- Loop Hubs -->

            <ul class="listServices">

                <li  ng-repeat="unit in units">

 
                        <div class="input-group"  >
                                
                                 <input type="text"  value="{{unit.unit_name}}" ng-click="open(unit.id)" class="form-control">
                        
                                 
 

                                <span class="input-group-btn">
         
                                    <Button type="button" class="btn btn-default" ng-click="open(unit.id)"><span class="fa fa-pencil" aria-hidden="true"></span></Button>

                                    <Button type="button"  class="btn btn-default"  ng-click="crud.delete(unit.id,$event)"><span class="fa fa-times" aria-hidden="true"></span></Button>
         
                                </span> 
                 
                         </div>

                </li>

            </ul>           
 
        </div> 

        <!-- Modal for Create  -->

        <script type="text/ng-template" id="form.html">
 
                <div class="modal-content">

                    <div class="modal-header">
                        

                         <h3 class="modal-title"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;{{title}}</h3>

                    </div>

                    <div class="modal-body">

                            <form role="form" name="form.createServiceForm" >

                                        <div class="alert alert-danger" style="display:{{ErrorDisplay}}">
 
                                             <strong class="animated glyphicon glyphicon-ban-circle"></strong> {{Error}} 

                                                 
                                        </div>

                                        <div class="animated alert alert-info" style="display:{{LoadingDisplay}}">
 
                                                {{LoadingMsg}}

                                                 
                                        </div>

                                        <div style="display:{{formStatus}}">
 
                                            <h4 ng-bind-html="parentServiceText" ng-show="parentService" />

  
                                            <div class="row">

                                                <div class="col-lg-12"><div class="form-group"><label>Unit Name</label><input type="text" class="form-control" ng-model="model.frmUnitName" required></div></div>

                                                 
                                            </div> 

                                            
                                            <div class="row">

                                                <div class="col-lg-12">
                                                    <div class="form-group"><label>Status</label>
                                                        <select class="form-control" ng-model="model.frmUnitStatus" required>
                                                        <option value="">Select Status</option>
                                                        <option   value="1">Active</option>
                                                        <option   value="0">Disabled</option>
                                                        </select>
                                                    </div>
                                                </div>

                                            </div>

 
                                        </div>

                                    </form>

                                    <div class="btn-group btn-group-justified">

                                        <div class="btn-group">
                                            <button type="button" ng-click="save()" class="btn btn-primary" >Save</button>
                                        </div>

                                        <div class="btn-group">
                                            <button type="button"  class="btn btn-secondary " ng-click="close()">Close</button>
                                        </div>

                                    </div>

                    </div>


                </div>

        </script>

        <!-- Confirm Boxes -->

        <script type="text/ng-template" id="alert.html">
            
            <div class="modal-header">
                <h3 class="modal-title">Confirm</h3>
            </div>

            <div class="modal-body">
                    {{msg}} 
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
                <button class="btn btn-warning" type="button" ng-click="close()">Cancel</button>
            </div>

        </script>

        <!-- End COnfirm Boxes -->


    </div>

</div>