<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold"> User</strong>
                             </span> <span class="text-muted text-xs block">Admin <b class="caret"></b></span> </span> </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="#">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            <li>
                <a href="#index/dashboard"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboard</span></a>
            </li>
            
            <li>
                <a href="#index/hubs"><i class="fa fa-th-large"></i> <span class="nav-label">User Management</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse in">
					<li><a href="#index/users"><span class="nav-label">Users</span> </a></li>
                    <li><a href="#index/users"><span class="nav-label">Roles</span> </a></li>
                    <li><a href="#index/users"><span class="nav-label">Roles Modules</span> </a></li>
                    <li><a href="#index/users"><span class="nav-label">Roles Module Actions</span> </a></li>
                    <li><a href="#index/users"><span class="nav-label">Roles Permissions</span> </a></li>
                </ul>
            </li>

            <li>
                <a href="#index/hubs"><i class="fa fa-th-large"></i> <span class="nav-label">Catelog</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse in">
                    <li><a href="#index/users"><span class="nav-label">Categories</span> </a></li>
                    <li><a href="#index/users"><span class="nav-label">Products</span> </a></li>
                </ul>
            </li>
			
			<li>
                <a href="#index/hubs"><i class="fa fa-th-large"></i> <span class="nav-label">Bid Management</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse in">
                    <li><a href="#index/users"><span class="nav-label">Categories</span> </a></li>
                    <li><a href="#index/users"><span class="nav-label">Products</span> </a></li>
                </ul>
            </li>
             
        </ul>

    </div>
</nav>